* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/background_leaves.jpg');
    text-align: center;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
}

#progress {
    height: 5px;
    width: 0;
    background-color: rgb(13, 110, 253);
    position: fixed;
    top: 0;
    z-index: 99999;
}

.navbar {
    background-color: rgba(255, 255, 0, 0);
}

.navbar-nav {
    float: right;
    margin-right: -50px;
    text-align: center;
}

.nav-item {
    margin-left: 1em;
}

#special {
    margin-left: 20px;
    color: rgb(248, 249, 250);
    text-decoration: none;
}

.color {
    color: rgb(248, 249, 250);
}

.color:hover {
    color: rgb(13, 110, 253);
}

.navbar-logo {
    width: 3.5%;
}

@media screen and (max-width: 575px) {
    .navbar-logo {
        display: none;
    }
}

#startChange {
    width: 70%;
    padding: 4rem;
}

#startChange p {
    margin: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 1rem;
}